#settingsButton {
    right: 24px;
    bottom: 24px;
    border: .0625rem solid;
    border-radius: 500px;
    background-color: var(--gray);
    color: white;
    padding: 2px 8px;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    z-index: 9999999999999999999999999999999999999999999999999999999999;
    box-shadow: 0 1px 3px rgb(4,217,255 ), 0 1px 2px rgb(4,217,255);
    user-select: none;
    width: 150px;
    transition: background-color .2s ease-in-out, opacity .2s ease-in-out,box-shadow .2s ease-in-out,border-color .2s ease-in-out, transform .2s ease-in-out;;
    border-color: rgb(4,217,255);
    cursor: pointer;
}

#settingsButton:hover {
    background-color: var(--hover-gray);
    border-color: rgb(217,42,55);
    box-shadow: 6px 6px 6px rgb(217,42,55), 6px 6px 6px rgb(217,42,55);
}

body {
    background-color: #1f1f1f;
    width: 50%;
    height: 50%;
}